<html>
  <head></head>
  <body>
    <h1>Albums</h1>

    <div>
      
  <% @album.each do |a| %>
    <p>
      Title: <%= a.title %>
      Released: <%= a.release_year %>
      <a href="/albums/<%= a.id %>">Go to album page</a>
    </p>
  <% end %>
    </div>

   
  </body>
</html>

