<form action="/albums" method="POST">
  <label for="title">Album title:</label>
  <input type="text" name="title">

    <label for="release_year">Album release year:</label>
  <input type="text" name="release_year">

    <label for="artist_id">Artist id:</label>
  <input type="number" name="artist_id">


  <input type="submit" value="Submit the form">
</form>

